In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#importing the packages that I will use to load datasets(pandas), run statistical analysis(numpy), and make
#graphs/data visualization(matplotlib)

In [2]:
df = pd.read_csv(r'/Users/jankrovatin/Desktop/Indicators_of_Anxiety_or_Depression_Based_on_Reported_Frequency_of_Symptoms_During_Last_7_Days_JK.csv')
#loading the dataset that I will analyze

In [3]:
df.columns
#extracting column names so I can be sure they are correct in analysis section

Index(['Phase', 'Indicator', 'Group', 'State', 'Subgroup', 'Time Period',
       'Time Period Label', 'Value'],
      dtype='object')

In [4]:


table = df[['Phase','Group','Subgroup','Value']]

def function(row):
    if row['Subgroup'] == 'Hispanic or Latino':
        return 'Hispanic'
    elif row['Subgroup'] == 'Non-Hispanic white, single race':
        return 'White'
    elif row['Subgroup'] == 'Non-Hispanic black, single race':
        return 'Black'
    elif row['Subgroup'] == 'Non-Hispanic Asian, single race':
        return 'Asian'
    elif row['Subgroup']== 'Non-Hispanic, other races and multiple races':
        return 'Other'
    else:
        return 'NaN'

In [5]:
table['Race'] = table.apply(function, axis=1)

<ipython-input-5-e83cb01f9202>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['Race'] = table.apply(function, axis=1)

In [6]:
table.dropna()
table

     Phase              Group       Subgroup  Value Race
0      Two             By Age  18 - 29 years   35.4  NaN
1      Two             By Age  30 - 39 years   27.9  NaN
2      Two             By Age  40 - 49 years   23.8  NaN
3      Two             By Age  50 - 59 years   23.8  NaN
4      Two             By Age  60 - 69 years   19.7  NaN
...    ...                ...            ...    ...  ...
3985   One           By State     Washington   43.8  NaN
3986   One           By State  West Virginia   37.0  NaN
3987   One           By State      Wisconsin   33.3  NaN
3988   One           By State        Wyoming   41.3  NaN
3989   Two  National Estimate  United States   24.5  NaN

[3990 rows x 5 columns]

In [7]:
black_df = table[table['Race']=='Black']

phase_list = ['One','Two','Three']
black_value = []
for phase in phase_list:
    df1 = black_df[black_df['Phase']== phase]
    value = np.mean(df1['Value'])
    black_value.append(value)
print(black_value)
# black_value list represents the mean Value for phase one, two and three (in this order)

[34.227777777777774, 32.83333333333333, 38.24999999999999]

In [8]:
hispanic_df = table[table['Race']=='Hispanic']

phase_list = ['One','Two','Three']
hispanic_value = []
for phase in phase_list:
    df1 = hispanic_df[hispanic_df['Phase']== phase]
    value = np.mean(df1['Value'])
    hispanic_value.append(value)
print(hispanic_value)

[35.99722222222222, 36.24, 41.03333333333333]

In [9]:
white_df = table[table['Race']=='White']

phase_list = ['One','Two','Three']
white_value = []
for phase in phase_list:
    df1 = white_df[white_df['Phase']== phase]
    value = np.mean(df1['Value'])
    white_value.append(value)
print(white_value)

[29.658333333333335, 30.026666666666674, 34.03333333333333]

In [10]:
asian_df = table[table['Race']=='Asian']

phase_list = ['One','Two','Three']
asian_value = []
for phase in phase_list:
    df1 = asian_df[asian_df['Phase']== phase]
    value = np.mean(df1['Value'])
    asian_value.append(value)
print(asian_value)

[27.03055555555555, 25.34, 27.53333333333333]

In [11]:
other_df = table[table['Race']=='Other']

phase_list = ['One','Two','Three']
other_value = []
for phase in phase_list:
    df1 = other_df[other_df['Phase']== phase]
    value = np.mean(df1['Value'])
    other_value.append(value)
print(other_value)

[40.07777777777777, 39.37333333333333, 43.76666666666667]

In [12]:
#finding mean of all anxiety/depression values to compare to individual group values

a = np.mean(asian_value)
b= np.mean (white_value)
c = np.mean (black_value)
d=np.mean (hispanic_value)
e = np.mean(other_value)

np.mean([a,b,c,d,e])

34.361444444444444

In [13]:
from scipy import stats #import statistics package to run confidence intervals

#general formula for calculating confidence interval of the mean of the data(where data is your chosen values)
#this test will tell me how many values truly represent the computed average (or 95% confidence that the mean is
#between the two numbers given)

def CI_mean(data):
    se = np.std(data)/np.sqrt(len(data))
    low = np.mean(data)-1.96*se
    up = np.mean(data)+1.96*se
    print("Average is:", np.mean(data))
    print("95% CI of mean is: ({}, {})".format(low,up))

In [14]:
#imputting my chosen values into the formula
CI_mean(hispanic_value)

Average is: 37.75685185185185
95% CI of mean is: (35.1327226896954, 40.3809810140083)

In [15]:
#conducting significance test to compare whether there is a statistically significant difference 
#between my chosen values and the group average

t_val, p_val = stats.ttest_1samp(hispanic_value, 34.36)

print("Test statistic:", t_val)
print("p-value:", p_val)

Test statistic: 2.071580624684127
p-value: 0.17410165861604826

In [16]:
# The mean anxiety/depression values of the Hispanic population in the U.S. during covid is 37.76 (95% CI = 
# [35.13, 40.38]). Statistical analysis from one sample t-test
# indicated that the mean anxiety/depression values of the Hispanic population in the U.S. during covid is not 
# significantly different than the mean across all racial groups (p > 0.05).

In [17]:
#Here I will be conducting a 2 way t-test to determine if there is a significant difference between
#values of anxiety and depression in the White and Black populations during covid in the US

In [18]:
#finding the mean/CI of each dataset

def CI_mean(data):
    se = np.std(data)/np.sqrt(len(data))
    low = np.mean(data)-1.96*se
    up = np.mean(data)+1.96*se
    print("Average is:", np.mean(data))
    print("95% CI of mean is: ({}, {})".format(low,up))

In [19]:
#finding mean and CI of Black population data

CI_mean(black_value)

Average is: 35.1037037037037
95% CI of mean is: (32.50502914372537, 37.70237826368203)

In [20]:
#finding mean and CI of White population data

CI_mean(white_value)

Average is: 31.239444444444445
95% CI of mean is: (28.997401156719405, 33.481487732169484)

In [21]:
#comparison of means with 95% CI

def CI_mean_diff(list1, list2):
    s1 = np.var(list1)
    s2 = np.var(list2)
    n1 = len(list1)
    n2 = len(list2)
    se2 = s1/n1 + s2/n2
    se = np.sqrt(se2)

    diff = np.mean(list1) - np.mean(list2)
    low = diff - 1.96 * se
    up = diff + 1.96 * se
    print("The average difference is:", diff)
    print("The 95% CI is: ({}, {})".format(low, up))

In [22]:
#comparing mean differences of Black and White Population with 95% CI

CI_mean_diff(black_value, white_value)

The average difference is: 3.8642592592592564
The 95% CI is: (0.4320780908604416, 7.296440427658071)

In [23]:
#two way t-test to determine if difference in means is statistically significant

t_val, p_val = stats.ttest_ind(black_value,
                               white_value, equal_var=False)

print("Test statistic:", t_val)
print("p-value:", p_val)

Test statistic: 1.8017996322647079
p-value: 0.1474698517713668

In [24]:
# These data indicate that there is no significant difference between the Black and White population
# in values of anxiety/depresion during covid in the US (p > 0.05; two sample t-test). The average difference
#between the 2 populations was 3.86 (95% CI [0.43, 7.30]).

In [25]:
#conducting another one-way t-test to determine if there is significant difference in levels of
#anxiety and depression among the Black population given that the cases/deaths among the 
#Black population has been reported as higher compared to the rest of the population groups

In [26]:
#computing mean with 95% CI

from scipy import stats

def CI_mean(data):
    se = np.std(data)/np.sqrt(len(data))
    low = np.mean(data)-1.96*se
    up = np.mean(data)+1.96*se
    print("Average is:", np.mean(data))
    print("95% CI of mean is: ({}, {})".format(low,up))

In [27]:
#mean and 95% CI for Black population data

CI_mean(black_value)

Average is: 35.1037037037037
95% CI of mean is: (32.50502914372537, 37.70237826368203)

In [28]:
#one way t-test to determine if difference in means is statistically significant

t_val, p_val = stats.ttest_1samp(black_value, 34.61)

print("Test statistic:", t_val)
print("p-value:", p_val)

Test statistic: 0.30403594542243384
p-value: 0.7898164863438376

In [29]:
# The mean anxiety/depression values of the Black population in the U.S. during covid is 35.10 (95% CI = 
# [32.51, 37.70]). Statistical analysis from one sample t-test
# indicated that the mean anxiety/depression values of the Black population in the U.S. during covid is not 
# significantly different than the mean across all racial groups (p > 0.05).

In [30]:
#loading the second dataset I will use for my regression and chi square tests
df2 = pd.read_csv(r'/Users/jankrovatin/Downloads/Weekly_Counts_of_Deaths_by_State_and_Select_Causes__2019-2020.csv')

In [31]:
#dropping NaNs from dataset and viewing dataframe

df2.dropna()
df2

,Jurisdiction of Occurrence,MMWR Year,MMWR Week,Week Ending Date,All Cause,Natural Cause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),Influenza and pneumonia (J09-J18),Chronic lower respiratory diseases (J40-J47),"Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)","Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)","Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)","Diseases of heart (I00-I09,I11,I13,I20-I51)",Cerebrovascular diseases (I60-I69),"COVID-19 (U071, Multiple Cause of Death)","COVID-19 (U071, Underlying Cause of Death)"
0,Alabama,2019,1,2019-01-05,1077.0,993.0,30.0,198.0,22.0,60.0,21.0,63.0,14.0,21.0,27.0,261.0,53.0,0.0,0.0
1,Alabama,2019,2,2019-01-12,1090.0,994.0,25.0,187.0,24.0,49.0,18.0,85.0,21.0,13.0,11.0,275.0,65.0,0.0,0.0
2,Alabama,2019,3,2019-01-19,1114.0,1042.0,22.0,238.0,18.0,48.0,31.0,80.0,30.0,25.0,15.0,283.0,53.0,0.0,0.0
3,Alabama,2019,4,2019-01-26,1063.0,994.0,21.0,165.0,22.0,50.0,22.0,113.0,14.0,25.0,23.0,279.0,56.0,0.0,0.0
4,Alabama,2019,5,2019-02-02,1095.0,1026.0,18.0,199.0,19.0,52.0,19.0,80.0,20.0,24.0,21.0,290.0,50.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5449,United States,2020,97,2020-11-07,61888.0,58383.0,699.0,11049.0,1760.0,2497.0,734.0,2641.0,748.0,928.0,2935.0,12099.0,2900.0,7876.0,7065.0
5450,United States,2020,98,2020-11-14,61902.0,58743.0,707.0,10809.0,1735.0,2540.0,760.0,2483.0,777.0,907.0,2857.0,11757.0,2881.0,9381.0,8449.0
5451,United States,2020,99,2020-11-21,60951.0,58278.0,660.0,10303.0,1731.0,2399.0,727.0,2428.0,763.0,872.0,2968.0,11232.0,2747.0,10944.0,9931.0
5452,United States,2020,100,2020-11-28,55185.0,53034.0,589.0,9183.0,1504.0,2259.0,647.0,2175.0,680.0,813.0,2835.0,10012.0,2507.0,10261.0,9314.0
5453,United States,2020,101,2020-12-05,41676.0,40419.0,458.0,7174.0,1124.0,1872.0,561.0,1731.0,556.0,651.0,2338.0,8200.0,2030.0,6301.0,5844.0

In [32]:
us = df2['Jurisdiction of Occurrence'] == "United States"
usdf = df2[us]
#creating a dataframe that only contains all US data (rather than state-level data)

In [33]:
#dropping NaNs and viewing my new dataframe

usdf.dropna()
usdf

,Jurisdiction of Occurrence,MMWR Year,MMWR Week,Week Ending Date,All Cause,Natural Cause,Septicemia (A40-A41),Malignant neoplasms (C00-C97),Diabetes mellitus (E10-E14),Alzheimer disease (G30),Influenza and pneumonia (J09-J18),Chronic lower respiratory diseases (J40-J47),"Other diseases of respiratory system (J00-J06,J30-J39,J67,J70-J98)","Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)","Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified (R00-R99)","Diseases of heart (I00-I09,I11,I13,I20-I51)",Cerebrovascular diseases (I60-I69),"COVID-19 (U071, Multiple Cause of Death)","COVID-19 (U071, Underlying Cause of Death)"
5353,United States,2019,1,2019-01-05,58464.0,53577.0,788.0,11655.0,1941.0,2413.0,1272.0,3459.0,911.0,1089.0,651.0,13893.0,2888.0,0.0,0.0
5354,United States,2019,2,2019-01-12,58525.0,53765.0,820.0,11886.0,1758.0,2451.0,1319.0,3616.0,937.0,1035.0,599.0,13649.0,3095.0,0.0,0.0
5355,United States,2019,3,2019-01-19,58354.0,53807.0,807.0,11878.0,1826.0,2609.0,1331.0,3388.0,956.0,1112.0,596.0,13639.0,3112.0,0.0,0.0
5356,United States,2019,4,2019-01-26,58034.0,53525.0,829.0,11731.0,1926.0,2447.0,1241.0,3444.0,918.0,1054.0,643.0,13755.0,2985.0,0.0,0.0
5357,United States,2019,5,2019-02-02,58278.0,53658.0,793.0,11752.0,1901.0,2520.0,1313.0,3390.0,923.0,1076.0,595.0,13777.0,3105.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5449,United States,2020,97,2020-11-07,61888.0,58383.0,699.0,11049.0,1760.0,2497.0,734.0,2641.0,748.0,928.0,2935.0,12099.0,2900.0,7876.0,7065.0
5450,United States,2020,98,2020-11-14,61902.0,58743.0,707.0,10809.0,1735.0,2540.0,760.0,2483.0,777.0,907.0,2857.0,11757.0,2881.0,9381.0,8449.0
5451,United States,2020,99,2020-11-21,60951.0,58278.0,660.0,10303.0,1731.0,2399.0,727.0,2428.0,763.0,872.0,2968.0,11232.0,2747.0,10944.0,9931.0
5452,United States,2020,100,2020-11-28,55185.0,53034.0,589.0,9183.0,1504.0,2259.0,647.0,2175.0,680.0,813.0,2835.0,10012.0,2507.0,10261.0,9314.0
5453,United States,2020,101,2020-12-05,41676.0,40419.0,458.0,7174.0,1124.0,1872.0,561.0,1731.0,556.0,651.0,2338.0,8200.0,2030.0,6301.0,5844.0

In [34]:
#in the next dataset I hope to see whether there was spike in deaths classified under "flu and pneumonia" around
#the time when covid was first becoming tested for/known in the US. I would expect this to happen around weeks
#60-70 (March - May of 2020)
#I also would like to determine if there is a significant correlation between week number (intrepreted as time
#of the year for the purposes of study here) and number of flu/pneumonia deaths

In [35]:
#running a regression analysis to see if we can accurately predict the next points based
#on the data presented in the graph of the hypothesis

from statsmodels.regression.linear_model import OLS
import statsmodels.api as sm

x_vals = usdf['MMWR Week'].values
y_vals = usdf['Influenza and pneumonia (J09-J18)']

reg_model = OLS(y_vals, sm.add_constant(x_vals)).fit()
display(reg_model.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                                    OLS Regression Results
=============================================================================================
Dep. Variable:     Influenza and pneumonia (J09-J18)   R-squared:                       0.090
Model:                                           OLS   Adj. R-squared:                  0.081
Method:                                Least Squares   F-statistic:                     9.775
Date:                               Wed, 23 Dec 2020   Prob (F-statistic):            0.00232
Time:                                       19:02:49   Log-Likelihood:                -727.58
No. Observations:                                101   AIC:                             1459.
Df Residuals:                                     99   BIC:                             1464.
Df Model:                                          1
Covariance Type:                           nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1162.3240     65.881     17.643      0.000    1031.602    1293.046
x1            -3.5063      1.121     -3.126      0.002      -5.731      -1.281
==============================================================================
Omnibus:                       15.142   Durbin-Watson:                   0.065
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               17.768
Skew:                           1.025   Prob(JB):                     0.000139
Kurtosis:                       3.148   Cond. No.                         118.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [36]:
#because the Prob(F-Statistic) is significant (<0.02), we can confidently use a regression line in our graph
#the equation to calculate the regression line is: Flu/Pneumonia death = week * -3.51 + 1162.32

In [37]:
#based on my regression analysis, we can conclude that there is a significant relationship between the deaths related
#to flu/pneumonia cases and week in the study (p < 0.00, 95% CI [0.025, 0.975]).

In [38]:
#next I will conduct a chi squared test to determine if there is a relationship between prevalence of diabetes
#and race.

In [39]:
df3 = pd.read_csv(r'/Users/jankrovatin/Desktop/NHANES.csv')

In [40]:
df3

,ID,SurveyYr,Gender,Age,AgeDecade,AgeMonths,Race1,Race3,Education,MaritalStatus,...,RegularMarij,AgeRegMarij,HardDrugs,SexEver,SexAge,SexNumPartnLife,SexNumPartYear,SameSex,SexOrientation,PregntNow
0,51624,2009_10,male,34,30-39,409.0,White,NaN,High School,Married,...,No,NaN,Yes,Yes,16.0,8.0,1.0,No,Heterosexual,NaN
1,51624,2009_10,male,34,30-39,409.0,White,NaN,High School,Married,...,No,NaN,Yes,Yes,16.0,8.0,1.0,No,Heterosexual,NaN
2,51624,2009_10,male,34,30-39,409.0,White,NaN,High School,Married,...,No,NaN,Yes,Yes,16.0,8.0,1.0,No,Heterosexual,NaN
3,51625,2009_10,male,4,0-9,49.0,Other,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,51630,2009_10,female,49,40-49,596.0,White,NaN,Some College,LivePartner,...,No,NaN,Yes,Yes,12.0,10.0,1.0,Yes,Heterosexual,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,71225,2011_12,male,0,0-9,1.0,Mexican,Mexican,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,71463,2011_12,male,0,0-9,4.0,Mexican,Mexican,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,71684,2011_12,male,0,0-9,3.0,White,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,71754,2011_12,male,0,0-9,0.0,White,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,71910,2011_12,female,0,0-9,5.0,White,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#creating a dataframe to view variables of interest
df3 = df3[['Race3', 'Diabetes']]

In [42]:
df3.dropna()

        Race3  Diabetes
4535    Asian       0.0
4536    Black       0.0
4537    White       0.0
4538    White       0.0
4539    White       0.0
...       ...       ...
9853    White       1.0
9854    White       1.0
9855  Mexican       1.0
9856    White       1.0
9857    White       1.0

[4936 rows x 2 columns]

In [43]:
#creating a frequency table to do chi-squared test

def function(row):
    if row['Diabetes'] == 0.0:
        return 'Healthy'
    elif row['Diabetes'] == 1.0:
        return 'Diabetic'
    else:
        return 'Unknown'

In [44]:
df3['Diabetes'] = df3.apply(function, axis=1)
df3

<ipython-input-44-688f0a256272>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Diabetes'] = df3.apply(function, axis=1)

        Race3 Diabetes
0         NaN  Healthy
1         NaN  Healthy
2         NaN  Healthy
3         NaN  Healthy
4         NaN  Healthy
...       ...      ...
9995  Mexican  Unknown
9996  Mexican  Unknown
9997    White  Unknown
9998    White  Unknown
9999    White  Unknown

[10000 rows x 2 columns]

In [45]:
#changing the order of my dataframe so that it is in a frequency table

df3 = pd.crosstab(index=df3["Diabetes"], columns=df3["Race3"]) 
df3

Race3     Asian  Black  Hispanic  Mexican  Other  White
Diabetes
Diabetic     23     65        27       28     12    218
Healthy     261    519       319      441    141   2882
Unknown       4      5         4       11      5     35

In [46]:
total = 0
for race in df3.columns:
    total += np.sum(df3[race])
print(total)

5000

In [47]:
from scipy import stats

chi2, p, dof, expected = stats.chi2_contingency(df3)

print("chi2:", chi2)
print("p:", p)
print("dof:", dof)
print("expected:", expected)

chi2: 23.721856273886726
p: 0.008373903404562925
dof: 10
expected: [[2.148480e+01 4.393940e+01 2.611000e+01 3.580800e+01 1.178680e+01
  2.338710e+02]
 [2.628288e+02 5.375214e+02 3.194100e+02 4.380480e+02 1.441908e+02
  2.861001e+03]
 [3.686400e+00 7.539200e+00 4.480000e+00 6.144000e+00 2.022400e+00
  4.012800e+01]]

In [48]:
#the chi-squared test suggests that there is an association 
#between rates of diabetes and race chi^2(10, N = 5000)=23.72; p < 0.008